<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>
<body>

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white">
                    Software Engineering Team
                </h1>
                <h2 class="subtitle has-text-white">
                    meet the crew...
                </h2>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="columns is-multiline" id="cards-container">
            <!-- employee cards go here -->

            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Mr. Bug </i></p>
                        <p class="subtitle">Manager <i class="fas fa-mug-hot mr-2"></i></p>
                        <hr>
                        <div class="list">
                            <p class="list-item">ID: 123</p>
                            <p class="list-item">Email: sirbug@mrbug.com</p>
                            <p class="list-item">Office number: 8</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Joanna Preston </i></p>
                        <p class="subtitle">Engineer <i class="fas fa-glasses mr-2"></i></p>
                        <div class="list">
                            <p class="list-item">ID: 456</p>
                            <p class="list-item">Email: joannappreston@gmail.com</p>
                            <p class="list-item">GitHub: jpreston-alt</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Parker Mathis </i></p>
                        <p class="subtitle">Intern <i class="fas fa-user-graduate mr-2"></i></p>
                        <div class="list">
                            <p class="list-item">ID: 789</p>
                            <p class="list-item">Email: parkerjmathis@gmail.com</p>
                            <p class="list-item">School: University of Washington</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
</body>
</html>